<div id="account-forms">
    <div class="col-lg-3 col-md-5 col-sm-8 col-11">
        <div class="form-card">
         <form action="">
             <div class="img-box">
                 <img src="assets/images/logo/africancity.png" alt="logo" class="img-fluid">
             </div>
             <p class="type">
                 Login
             </p>
             <p class="support ">
                 <small>You will receive reset link in your email account.</small>
             </p>
             <div class="col-12">
                 <div class="mb-3">
                     <div class="mb-3">
                       <input type="email" class="form-control login" name="" id=""  placeholder="Enter Email">
                     </div>
                 </div>
             </div>

             <div class="col-12">
                 <div class="mb-3">
                     <div class="mb-3">
                      <a name="" id="" class="btn orange" href="#" role="button">Login</a>
                     </div>
                 </div>
             </div>

         </form>
        </div>
     </div>
</div>
