

/* footer */
.footer{
    /* background-color: #2d3436; */
    padding: 6rem 0 0 0;
}



.footer .footer-img img{
    max-width: 250px;
    margin-bottom: 1.5rem;
}

.footer .footer-header{
    margin-bottom: 1rem;
    color: #ff8c00;
}
.footer .footer-links  p{
    margin-bottom: .5rem !important;
}
.footer .footer-links  p  a{
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
}
.footer .footer-links ul{
    padding-left: 0;
}
.footer .footer-links ul li{
    list-style: none;
    display: inline-block;

}
.footer .footer-links i{
    color: var(--primary__color);
}
.footer .footer-links ul li a{
   text-decoration: none;
   color: #ff8c00;
}
.footer .footer-links li .bi{
    margin-right: .5rem;
 }
.footer .footer-bottom{
    margin-top: 4rem;
    background-color: #2d3436;
    padding: 1rem 0;
}

.remove-margin{
    margin-top: 0!important;
}
.footer .footer-bottom small {
    color: #fff;
}
.footer .footer-bottom small a{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}



