<div class="counterup text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12 my-3">
        <div class="counter-box">
          <div class="counter-icon">
            <i class='bi bi-building'></i>
          </div>
          <div class="counter-text">
            <h4>
              Properties
            </h4>
            <h2 class="counter">
             300
            </h2>
          </div>

        </div>
      </div>


      <div class="col-lg-3 col-md-3 col-sm-6 col-12 my-3">
        <div class="counter-box">
          <div class="counter-icon">
            <i class='bi bi-person-plus'></i>
          </div>
          <div class="counter-text">
            <h4>
              Agents
            </h4>
            <h2 class="counter">
              30
            </h2>
          </div>

        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12 my-3">
        <div class="counter-box">
          <div class="counter-icon">
            <i class='bi bi-emoji-smile'></i>
          </div>
          <div class="counter-text">
            <h4>
              Happy Clients
            </h4>
            <h2 class="counter">
              100
            </h2>
          </div>

        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12 my-3">
        <div class="counter-box">
          <div class="counter-icon">
            <i class='bi bi-app'></i>
          </div>
          <div class="counter-text">
            <h4>
              Projects
            </h4>
            <h2 class="counter">
              15
            </h2>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
