<app-navigation></app-navigation>
<section id="hero">
  <div class="container">
      <div class="hero-text">
          <div class="text-center">
              <h1>
                  Agent List
              </h1>
              <nav class="breadcrumb  justify-content-center">
                  <a class="breadcrumb-item" routerLink="/home">Home</a>
                  <span class="breadcrumb-item active" aria-current="page">All Agents</span>
              </nav>
          </div>
      </div>
  </div>
</section>
<section id="all-agents">
  <div class="container">
    <div class="row">
        <div class="col-12 top-split">
            <span>
                <small>Showing 1 to 8 of 300 agents </small>
            </span>
            <span>
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownCenterBtn" data-bs-toggle="dropdown" aria-expanded="false">
                      Select Letter
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownCenterBtn">
                      <li><a class="dropdown-item" href="#">A</a></li>
                      <li><a class="dropdown-item" href="#">B</a></li>
                      <li><a class="dropdown-item" href="#">C</a></li>
                    </ul>
                  </div>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="all-agents-box">
              <div class="top-image">
                <img src="assets/images/bg/3.jpg" alt="img" class="img-fluid">
                <span>
                  <a href="#">34 <span>listings</span></a>
                </span>
              </div>
              <div class="bottom-details">
                <a href="#" class="agent-name"><span>Aim Makarudze</span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="all-agents-box">
              <div class="top-image">
                <img src="assets/images/bg/3.jpg" alt="img" class="img-fluid">
                <span>
                  <a href="#">55 <span>listings</span></a>
                </span>
              </div>
              <div class="bottom-details">
                <a href="#" class="agent-name"><span>Aimzo Mak</span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="all-agents-box">
              <div class="top-image">
                <img src="assets/images/bg/3.jpg" alt="img" class="img-fluid">
                <span>
                  <a href="#">34 <span>listings</span></a>
                </span>
              </div>
              <div class="bottom-details">
                <a href="#" class="agent-name"><span>Aim Makarudze</span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="all-agents-box">
              <div class="top-image">
                <img src="assets/images/bg/3.jpg" alt="img" class="img-fluid">
                <span>
                  <a href="#">55 <span>listings</span></a>
                </span>
              </div>
              <div class="bottom-details">
                <a href="#" class="agent-name"><span>Aimzo Mak</span></a>
              </div>
            </div>
          </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="all-agents-box">
          <div class="top-image">
            <img src="assets/images/bg/3.jpg" alt="img" class="img-fluid">
            <span>
              <a href="#">34 <span>listings</span></a>
            </span>
          </div>
          <div class="bottom-details">
            <a href="#" class="agent-name"><span>Aim Makarudze</span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="all-agents-box">
          <div class="top-image">
            <img src="assets/images/bg/3.jpg" alt="img" class="img-fluid">
            <span>
              <a href="#">55 <span>listings</span></a>
            </span>
          </div>
          <div class="bottom-details">
            <a href="#" class="agent-name"><span>Aimzo Mak</span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="all-agents-box">
          <div class="top-image">
            <img src="assets/images/bg/3.jpg" alt="img" class="img-fluid">
            <span>
              <a href="#">34 <span>listings</span></a>
            </span>
          </div>
          <div class="bottom-details">
            <a href="#" class="agent-name"><span>Aim Makarudze</span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="all-agents-box">
          <div class="top-image">
            <img src="assets/images/bg/3.jpg" alt="img" class="img-fluid">
            <span>
              <a href="#">34 <span>listings</span></a>
            </span>
          </div>
          <div class="bottom-details">
            <a href="#" class="agent-name"><span>Aimzo Mak</span></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<app-newsletter></app-newsletter>
<app-footer></app-footer>
