<div class="property-quote" id="property-qoute">
    <div class="container-fluid p-0 m-0">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-12">
                <div class="q-box">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-12">
                <div class="q-text">
                    <h2>
                        Rental <span>Property</span>
                    </h2>
                    <p>
                        The search is over, find rental property at your own convenience at the click of a button at africanscity.
                         We offer offer a diverse selection of rental property online.
                    </p>
                    <div class="request-btn">
                        <a href="/Properties?propertyStatus=FOR_RENT" class="btn orange">Rent A Property</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>