<app-navigation></app-navigation>
<section id="hero">
  <div class="container">
      <div class="hero-text">
          <div class="text-center">
              <h1>
                  Contact Us
              </h1>
              <nav class="breadcrumb  justify-content-center">
                  <a class="breadcrumb-item" routerLink="/home">Home</a>
                  <span class="breadcrumb-item active" aria-current="page">Contact</span>
              </nav>
          </div>
      </div>
  </div>
</section>
<!-- contact section -->

<div id="contact-us">
  <div class="container">
    <div class="row g-lg-5 g-md-3 g-sm-0">
      <div class="col-md-7 col-sm-12 col-12">
        <div class="contact-form">
          <div class="row ">
            <p>
              Get in touch with us if you have any enquiries?
            </p>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Last Name</label>
              <input type="text" class="form-control form-edit" id="exampleFormControlInput1"
                placeholder="Enter your surname">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">First Name</label>
              <input type="text" class="form-control  form-edit" id="exampleFormControlInput1"
                placeholder="Enter your name">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control  form-edit" id="exampleFormControlInput1"
                placeholder="Enter your email address">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Message</label>
              <textarea class="form-control  form-edit" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="contact-btn mb-3">
              <button type="submit" class="btn ">Submit</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-12 col-12">
        <div class="wrapper">
          <div class="enquiries">
            <p>
              For Inquiries Contact:
            </p>
            <div>
              <div class="icon">
                <i class="bi bi-cloud-check"></i>
              </div>
              <p>
                <small>
                  603 Barbara House, 6th Floor, Cnr Takawira & N.Mandela, Harare , Zimbabwe
                </small>
              </p>
            </div>
            <div>
              <div class="icon">
                <i class="bi bi-envelope-paper"></i>
              </div>
              <p>
                <small>
                  <a href="#"> info@AfricansCity.com</a>
                </small>
              </p>
            </div>
            <div>
              <div class="icon">
                <i class="bi bi-phone"></i>
              </div>
              <p>
                <small>
                  <a href="#">+(263) 242 761 220</a>
                  <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i> +(263) 782 476 323</a>
                  <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i> +(263) 777 713 962</a>
                </small>
              </p>
            </div>
          </div>
          <div class="socials">
            <p>
              We are Social as well
            </p>
            <ul>
              <li><a href="#"><i class="bi bi-facebook"></i></a></li>
              <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
              <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- map -->

<div id="maps">
  <div class="container-fluid">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3798.180830907826!2d31.043214715137335!3d-17.830155981053124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1931a5fa1b0244cb%3A0x31100f47989b01a0!2sGlobtorch%20Online%20Education!5e0!3m2!1sen!2szw!4v1646743408554!5m2!1sen!2szw"
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>

<app-footer></app-footer>
