<app-navigation></app-navigation>
<section id="hero">
    <div class="container">
        <div class="hero-text">
            <div class="text-center">
                <h1>
                    About Us
                </h1>
                <nav class="breadcrumb  justify-content-center">
                    <a class="breadcrumb-item" routerLink="/home">Home</a>
                    <span class="breadcrumb-item active" aria-current="page">About Us</span>
                </nav>
            </div>
        </div>
    </div>
  </section>
<div id="company-story">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-12">
                <div class="about-left">
                    <p>
                        <small>About Us</small>
                    </p>
                    <h2>
                        Africanscity
                    </h2>
                    <div class="about-body">
                        <p>
                           We at africanscity strive to provide africa with quality listings for properties all
                           over the continent. Africanscity is a subsidiary of Globtorch Online Education and Business solutions.
                        </p>
                        <p>
                            Our team is made of a diverse group of people that that strive everyday to improve the functionanlity of
                            our website, so that we can provide quality products for our all our stakeholders.
                        </p>
                        <div class="features">
                            <span>
                                24/7 Support <i class="fa-regular fa-circle-check"></i>
                            </span>
                            <span>
                                Customer Care  <i class="fa-regular fa-circle-check"></i>
                            </span>
                        </div>
                        <div class="features">
                            <span>
                                Transparency <i class="fa-regular fa-circle-check"></i>
                            </span>
                            <span>
                                Quality Listings  <i class="fa-regular fa-circle-check"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-12">
                <div class="about-left">
                    <img src="assets/images/png/undraw_Building_re_xfcm (1).png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<app-counter></app-counter>
<app-testimonials></app-testimonials>
<app-newsletter></app-newsletter>
<app-footer></app-footer>
