<section id="our-product">
    <div class="container">
        <div class="row mx-0 justify-content-center">
            <div class="col-sm-2 col-6">
                <a href="#">
                    <img src="assets/images/logo/globtorch.png" alt="image" class="img-fluid">
                </a>
            </div>

            <div class="col-sm-2 col-6">
                <a href="#">
                    <img src="assets/images/logo/dottbook.png" alt="image" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-2 col-6">
                <a href="#">
                    <img src="assets/images/logo/Abisiniya-logo.png" alt="image" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-2 col-6">
                <a href="#">
                    <img src="assets/images/logo/Gstorex-logo.png" alt="image" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-2 col-6">
                <a href="#">
                    <img src="assets/images/logo/ecamp-logo.png" alt="image" class="img-fluid">
                </a>
            </div>



        </div>
    </div>
</section>