#our-product{
}

#our-product .container{
    border-top: .1rem solid #f5f5f5;
    padding: 1rem 0;
}


#our-product .container img{
    height: 50px;
    transition: all .3s ease-in;
}
#our-product .container a{
    overflow: hidden;
}

#our-product .container a:hover img{
    filter: none;
    transform: scale(1.1);
}

#our-product .container > div > div {
    padding-bottom: .5rem;
}