<app-navigation></app-navigation>
<section id="hero">
  <div class="container">
      <div class="hero-text">
          <div class="text-center">
              <h1>
                   Create Request
              </h1>
              <nav class="breadcrumb  justify-content-center">
                  <a class="breadcrumb-item" routerLink="/home">Home</a>
                  <span class="breadcrumb-item active" aria-current="page">Request</span>
              </nav>
          </div>
      </div>
  </div>
</section>
<!-- shared styles -->
<section id="shared-style">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-sm-12 col-12">
        <div class="shared-box">
          <div class="essential">
            <p class="m-0">
              All the fields are mandatory to brings out the best search results?
            </p>
          </div>
          <form action="" method="post">
            <h4 class="my-3 col-12">
              1. Property Details
            </h4>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-12">
                <div class="mb-3">
                  <label for="" class="form-label"> Location</label>
                  <input type="text" class="form-control" id="" placeholder="i.e 23423 Tynwald" />
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-12">
                <div class="mb-3">
                  <label for="" class="form-label">Select Category</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Select</option>
                    <option value="1">Student Accomodation</option>
                    <option value="2">Rooms</option>
                    <option value="3">Full House</option>
                  </select>
                </div>
              </div>

            </div>

            <h4 class="my-3 col-12">2. Your Details</h4>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-12">
                <div class="mb-3">
                  <label for="" class="form-label">Name</label>
                  <input type="text" class="form-control" id="" placeholder="" />
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-12">
                <div class="mb-3">
                  <label for="" class="form-label">Email</label>
                  <input type="text" class="form-control" id="" placeholder="" />
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-12">
                <div class="mb-3">
                  <label for="" class="form-label">Phone Number</label>
                  <input type="number" class="form-control" id="" placeholder="" />
                </div>
              </div>
            </div>

            <h4 class="my-3 col-12">3. More Information</h4>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-12">
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Garage / Parking
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-12">
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Water
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-12">
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Electricity
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-12">
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Telone
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-12">
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Swimming Pool
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-12">
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Lawn
                    </label>
                  </div>
                </div>
              </div>
              <div class=" col-12">
                <div class="mb-3">
                  <label for="" class="form-label">More details</label>
                  <textarea class="form-control" name="" id="" rows="3"></textarea>
                </div>
              </div>
            </div>


            <div class="submit-link text-end mt-4">
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-newsletter></app-newsletter>
<app-footer></app-footer>
