<app-navigation></app-navigation>
<div class="terms ">
    <div class="container pb-5 border-1 border-bottom">
        <div class="page-content">
            <h1>Africanscity</h1>
            <p>Terms and Conditions</p>
        </div>
        <ol class="p-3">
            <h3><li>INTRODUCTION</li></h3>
            <ol class="">
                <li>Africans City Private Ltd " or "we" or "us") hosts a website under domain www.africanscity.com ("the Website") and has affiliations with other property portal websites (“Affiliated Sites”) and hosts spaces in selected print publications (“Publications”) for the online and print-medium marketing of property listings for sale or for rent and the advertising of service providers in the real estate, legal and related industries (collectively “Advertisements”). The Website, the Affiliated Sites or the Publications are collectively referred to as “the Portals” in these STC’s.</li>
                <li>These Standard Terms of Use include, and must be read together with, Africans City Privacy Policy available at www.africanscity.com/privacy-policy (collectively "STC's").</li>
                <li>Africans City may amend these STC's at any time.</li>
            </ol>
            <h3><li>APPLICATION TO CLIENTS AND USERS</li></h3>
            <ol class="">
                <li>For clients that place advertisements with Africans City, these STC's together with the signed agreement ("the Contract") concluded between PPSA and each client who advertises on the Website ("Client"). If there is any discrepancy or conflict between these STC's and the Contract, the provisions of the Contract will apply.</li>
                <li>For other users, by logging in, registering on, accessing or using the Website, all persons making use of the Website ("Users") agree to be bound by these STC's, except those provisions which, explicitly or implicitly, only apply to Clients.</li>
                <li>The Website is only available only to Users/Clients over the age of legal majority of 18 years who can form legally binding contracts.</li>
            </ol>
            <h3><li>PPSA'S GENERAL OBLIGATIONS AND WARRANTIES</li></h3>
            <ol class="">
                <li>Africans City must provide the following services to the Clients and Users:</li>
                <ol class="">
                    <li>display and market on the Website and, if deemed suitable by Africans City, on the Affiliated Sites and in the Publications, such Advertisements as provided to it by the Client from time to time and subject to the limitations as to the number, type, content and design of Advertisements as reasonably determined by Africans City from time to time;</li>
                    <li>provide a telephonic support service from Monday to Friday, from 08:00 to 17:00, for Clients and Users.</li>
                </ol>
                <li>Africans City may, in its discretion, place or forward any of the Advertisements that were submitted to the Website to any of the Affiliated Sites or the Publications for publication.</li>
                <li>Africans City makes no warranties of any kind regarding the standard of the services or the content on the Website and, in particular, Africans City does not warrant that:</li>
                <ol class="">
                    <li>the Portals are error-free;</li>
                    <li>the Portals will be accessible and operative on a 24 hour-per-day, 7 day-per-week basis; and</li>
                    <li>that any downloads or applications accessed through the Portals are free of viruses, Trojans, or other harmful mechanisms.</li>
                </ol>
            </ol>
            <h3><li>USE OF THE WEBSITE</li></h3>
            <ol class="">
                <li>Each User acknowledges that Africans City does not verify or warrant the accuracy or completeness of the Advertisements or other information on the Portals.</li>
                <li>Africans City uses "cookies" on the Portals to enable it to personalize each User's visits to the Portals, simplify the signing-in procedure, keep track of your preferences and to track the usage thereof. Cookies are small pieces of information that are stored in the hard drive of the User's computer by the browser. The browser will have the option to prevent websites using cookies, but this may reduce the functionality of the Portals.</li>
                <li>No User/Client may:</li>
                <ol class="">
                    <li>disguise the origin of information transmitted through the Portals; nor</li>
                    <li>place false or misleading information on the Portals; nor</li>
                    <li>use or access any service, information, application or software available via the Portals in a manner not expressly permitted Africans City; nor</li>
                    <li>input or upload to the Portals any information which contains viruses, Trojan horses, worms, time bombs or other computer programming routines that are intended to damage, interfere with, intercept or expropriate any system or the Portals nor</li>
                    <li>upload any Personal Information or other data that infringes the intellectual property rights or privacy rights of another; nor</li>
                    <li>link any page on the Portals without Africans City's prior written consent. The Portals contains links to other third party websites over which Africans City has no control. Africans City does not recommend any products or services advertised on those websites and the Client/User uses them at its own risk.</li>
                </ol>
            </ol>
            <h3><li>INDEMNITIES AND WAIVERS</li></h3>
            <ol class="">
                <li>Each Client and User hereby acknowledges that:</li>
                <ol class="">
                    <li>Africans City is not an estate agent, attorney, financial adviser or other professional adviser;</li>
                    <li>each Client/User is responsible for the negotiation and conclusion of any agreements that may result from the posting or access to Advertisements on the Portals;</li>
                    <li>there is no obligation on a Client/User to make use of any of the service providers advertised on the Portals;</li>
                    <li>Africans City does not regulate or take any responsibility for the content, accuracy or completeness of the Advertisements, the Client's/User's information or for the security of the Client's/User's passwords in respect of the Portals.</li>
                </ol>
            </ol>
            <h3><li>DIRECT MARKETING, COOLING OFF PERIOD AND REFUNDS</li></h3>
            <ol class="">
                <li>In this clause, a "Direct Marketing Contract" is any contract, including an upgrade of or an extension of a contract, concluded between a Client and Africans City as a direct result of Africans City approaching that Client, either in person, by mail, phone, fax or sms, for the purpose of promoting or offering to supply a Client with its services pertaining to Advertisements on the Portals, but excludes contracts concluded as a result of an approach by a Client to Africans City, whether by phone, sms, email or other method.</li>
                <li>A Client may, without reason, cancel a Direct Marketing Contract, by giving written notice to Africans City within 5 business days of concluding the Direct Marketing Contract.</li>
                <li>Africans City will not commence providing any services in respect of a Direct Marketing Contract until expiry of this 5 business day period unless Africans City decides otherwise.</li>
                <li>Except as set out in clause 7.3, no refunds will be given by Africans City in any circumstances.</li>
            </ol>
            <h3><li>WAIVER</li></h3>
            <ol class="">
                <li>Each User and Client hereby waives any rights or claims it may have against Africans City in respect of any loss, liability, damage (whether direct or consequential) or expense of any nature whatsoever, which may be suffered as a result of the User's or Client's use or inability to use the Portals or the services or content provided from and through the Portals.</li>
            </ol>
            <h3><li>THE CLIENT'S OBLIGATIONS AND WARRANTIES</li></h3>
            <ol class="">
                <li>The Client must, at its cost:</li>
                <ol class="">
                    <li>include the information and details on each Advertisement as reasonably specified by Africans City from time to time;</li>
                    <li>ensure that none of the information or Advertisements provided by it to Africans City includes any content that:</li>
                    <li>is false, misleading or incorrect;</li>
                    <li>may be considered abusive or offensive;</li>
                    <li>infringes the intellectual property rights of any third person; or</li>
                    <li>infringes the privacy and protection of personal information rights of any third person;</li>
                    <li>comply with all applicable legislation, laws and regulations in regard to the conduct of its business and the placement of Advertisements on the Portals.</li>
                </ol>
                <li>The Client warrants that the content, form and design of the Advertisements and other information provided by the Client to Africans City does not, and will not, infringe any intellectual property rights of any other person. The Client indemnifies Africans City and holds it harmless against any claim made against it as a result of this warranty not being true or any other breach of these STC's or the Contract.</li>
            </ol>
            <strong>AFRICANS CITY BELIEVES THAT ALL CONSUMERS SHOULD BE TREATED EQUALLY REGARDLESS OF GENDER, RACE, CREED, SOCIO-ECONOMIC STANDING OR NATIONALITY. WE WILL NOT CONDONE OR TOLERATE ANY FORM OF DISCRIMINATION FROM OUR USERS AND EXPECT THEM TO CONDUCT THEMSELVES ETHICALLY WHEN ADVERTISING THROUGH THE WEBSITE.</strong>
            <h3><li>CONFIDENTIALITY</li></h3>
            <ol class="">
                <li>Each Client and User undertakes to:</li>
                <ol class="">
                    <li>keep confidential all information, whether written or oral, concerning the business and affairs of Africans City and of each other whether obtained from that party or any third party (“the Information”);</li>
                    <li>not disclose the Information to any person other than its employees, agents and/or consultants involved in the implementation of this agreement, without that party's prior written consent;</li>
                    <li>use the Information solely in connection with the implementation of this agreement and not for its own benefit or that of any third party; and.</li>
                    <li>keep confidential the terms and conditions of this agreement.</li>
                </ol>
                <li>The provisions of this clause do not apply to any Information which is:</li>
                <ol class="">
                    <li>independently developed by the recipient;</li>
                    <li>publicly available without breach of this agreement; or</li>
                    <li>released for disclosure by the disclosing party with its written consent.</li>
                </ol>
            </ol>
            <h3><li>INTELLECTUAL PROPERTY INDEMNITIES</li></h3>
            <ol class="">
                <li>All the content on the Portals, including any and all graphics, text, icons, photographs, videos, hyperlinks, private information, designs, trademarks, software, databases, agreements, the name "Private Property" and the associated logo (which are both registered trademarks) the Portals source code, copyrights and any modifications and/or upgrades thereto, is the intellectual property of Africans City.</li>
                <li>The Clients and Users must not reverse-engineer or attempt to copy the Portals in any way. The Client and Users may not use any automatic device or manual process to monitor or copy any part of the Portals.</li>
            </ol>
            <h3><li>PHOTO AND VIDEO CONTENT</li></h3>
            <ol class="">
                <li>To the extent that Africans City produces or procures any videos, virtual tours or photographic content, including High Definition videos and High Dynamic Range photography, (collectively "Visual Content") for the Client, at the Client's request and cost:</li>
                <ol class="">
                    <li>Africans City will at all times own all the copyright and other intellectual property in the Visual Content;</li>
                    <li>Africans City licenses the Client to link or use the Visual Content on its own estate agency website and its own social media platforms, provided that the specific media platform has been approved in writing by Africans City in its Acceptable Usage Policy or elsewhere and has not been expressly prohibited by Africans City in any document or notification;</li>
                    <li>the Client and the Users may not digitally link, nor permit or direct the placement of, the Visual Content on any other website or digital marketing platform whatsoever, except as set out above.</li>
                </ol>
                <li>Any breach by the Client of the obligations in this clause will be a material breach of this agreement, entitling Africans City to suspend or terminate its service to the Client.</li>
                <li>Africans City may, in its discretion, amend the nature or format of the Visual Content that it makes available for subscription or use by the Client.</li>
            </ol>
            <h3><li>12.	PLACING OF ADVERTISEMENTS BY CLIENTS ON AFRICANS CITY PORTALS</li></h3>
            Each client acknowledges and agrees that:
            <ol class="">
                <li>it must comply with Africans City’s procedures and deadlines for the placement of advertisements on the Portals and Africans City will only be bound by orders that Africans City has confirmed in writing and Africans City shall not submit proof of publication to the client;</li>
                <li>although every effort will be made to meet the wishes of the client, no undertaking can be given in this regard in respect of the date of publication, the form and conditions of the entry/is the number of copies and place of publication;</li>
                <li>no variation (cancellation or alteration) shall be effective unless it is recorded in writing and signed by both parties and if so must reach Africans City one week prior to publication date of the issue for which advertisement has been placed/booked;</li>
                <li>advertisement orders are accepted subject to editorial space being available;</li>
                <li>adverts will only be placed after full payment in terms of the order has been received by the Africans City, unless a specific credit arrangement has been entered into with the client;</li>
                <li>if there is any cancellation of any period of advertising in terms of a confirmed order by the client, the discount will cease to apply for the entire duration of the advertising period until cancellation date. The remaining pro-rata balance will be paid back to the client if pre-payment has been received by the client;</li>
                <li>it is responsible for, and hereby undertakes to pay Africans City for all expenses which Africans City may incur arising out of the client’s default, including all costs of tracing the client, collection commission and all legal costs as between attorney and client;</li>
                <li>Africans City is entitled to withhold or withdraw any advertisement from publication and to cancel any advertisement order that has been accepted;</li>
                <li>any advertisement considered unsuitable for publication by reason of its appearance, import, age, content or wording may be revised or refused or withdrawn from publication;</li>
                <li>it shall have no claim against Africans City whatsoever by virtue of any failure to publish or for publication on dates other than those stipulated by the client, or any typographical or any other errors of any kind or for any loss or damages in consequence of any of the above;</li>
                <li>Africans City reserves the right to suspend issue on any day and to increase or decrease the usual number of editions printed without notice and the costs will be changed accordingly and clients will be advised;</li>
                <li>space is sold to the client for the purpose of making announcements concerning his own business and also may not be used for attacking or making comparisons with other clients, firms’ institutions or persons;</li>
                <li>until cancelled (T.C.) orders may be discontinued on a week’s notice prior to publication date by either Africans City or client except in the case of guaranteed or special positions when one month’s notice is required;</li>
                <li>should it not meet its frequency or volume commitment, Africans City may charge the top rate. This also applies when a contract is cancelled prior to completion;</li>
                <li>should it exceed its monthly commitment, no reduction shall be rebated for advertising which has already appeared. However, the contract may be revised by the client’s request where after the lower rate shall apply;</li>
                <li>any client or advertising practitioner placing an advertisement in any Africans City publication indemnifies that publication against any liability whether in respect of damages, cost or otherwise that it may incur as a result of the publication of that advertisement;</li>
                <li>Africans City is hereby indemnified against the publication of any misuse of photos due to public domain;</li>
                <li>any advertising must conform to Government, Advertising Standards Authority and African’s requirements for the acceptance of advertisements;</li>
                <li>where advertisements are booked and material arrives after deadline or fails to arrive, the space may still be charged for by Africans City;</li>
                <li>it is the responsibility of the client to report any errors in advertisements within two days of publication;</li>
                <li>it has received a copy of the advertisement tariff card of Africans City;</li>
                <li>the deadlines of Africans City may be varied at any time;</li>
                <li>If Africans City fails to insert or place a booked advertisement, the said booking will be included in calculating the contract fulfillment;</li>
                <li>no liability for any errors in translation will be accepted by Africans City;</li>
                <li>the booking of advertisements pursuant to this contract must be in writing duly signed by the client or his agent and specify the publication/s in which the advertisement should appear and dates of publication;</li>
                <li>copyright on all advertising material originated by Africans City is owned by Africans City regardless of whether published or not.</li>
            </ol>
            <h3><li>SUB-CONTRACTING</li></h3>
            <ol class="">
                <li>Africans City may cede or assign any of its rights or obligations in terms of this agreement or sub-contract any of its obligations in terms of this agreement without requiring the prior consent of the Client/User.</li>
                <li>The Client/User may not cede or assign any of its rights or obligations in terms of this agreement without Africans City prior written consent.</li>
            </ol>
            <h3><li>DISPUTES AND LEGAL</li></h3>
            <ol class="">
                <li>Either party may refer any dispute which arises out of this agreement to the other party for resolution and the parties must meet within 10 Days thereof to resolve the matter or to agree on alternate dispute proceedings, failing which either party may take any action appropriate. If the parties elect arbitration, the arbitration must be in Harare, before a single arbitrator. This clause does not prevent either party from applying to any court having jurisdiction for appropriate urgent relief.</li>
                <li>Zimbabwe law governs the interpretation of these T&C’s.</li>
            </ol>
        </ol>
    </div>
</div>

<app-footer></app-footer>
