<div class="agent" id="agent">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm--12 col-12">
        <div class="agent-text">
          <h2>
            Become A <span>Real Estate</span> Agent
          </h2>
          <p>
            Attract people searching for property as an agent as we offer a plethora
            of packages to help you list properties online at affordable pricing.
          </p>
          <div class="request-btn">
            <a  href="/upload-listing" class="black-btn ">Add Properties</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm--12 col-12">
        <div class="img-agent">
          <img src="assets/images/icons/undraw_Connection_re_lcud.png" alt="img" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
