<section id="we-do">
  <div class="we-do-header">
    <h3 class="text-center fw-light">
      Africans<span>City</span> offers A wide range of options to cater to all
      your property needs.
    </h3>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 col-6">
        <div class="we-do-box text-center">
          <a href="/upload-listing">
            <div class="icon">
              <i class="bi bi-building"></i>
            </div>
            <h5>Sell Property</h5>
          </a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-6">
        <div class="we-do-box text-center">
          <a href="/Properties?propertyStatus=FOR_SALE">
            <div class="icon">
              <i class="bi bi-cash-coin"></i>
            </div>
            <h5>Buy Property</h5>
          </a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-6">
        <div class="we-do-box text-center">
          <a href="/Properties?propertyStatus=FOR_RENT">
            <div class="icon">
              <i class="bi bi-house"></i>
            </div>
            <h5>Rent Property</h5>
          </a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-6">
        <div class="we-do-box text-center">
          <a routerLink="/terms" >
            <div class="icon">
              <i class="bi bi-question-square"></i>
            </div>
            <h5>Need Help <span class="small-text">(T&C)</span></h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
