<div class="testimonials" id="testimonials">
  <div class="container">
    <div class="text-center title-info" id="title-info">
      <h2>
        Testimonies
      </h2>
      <p class="text-muted fw-light">
        We have an abundant list of satisfied customers
      </p>
    </div>
    <div class="testimonial-content  text-center">
      <div class="testimonial-icon">
        <div class="icon-container">
          <i class='bi bi-quote'></i>
        </div>

        <div class="testimonial-quote">
          <p>
            <span><i class='bx bxs-quote-alt-left'></i></span>
            You guys deliver quality service all the time which
            makes life easy and allows gives customers the best experience.
            <span><i class='bx bxs-quote-alt-right'></i></span>
          </p>
          <span class="quote-update">
            Miss Nyoni
          </span>
          <br>
          <span class="qoute-job">
            Customer
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
