<app-navigation></app-navigation>
<section id="hero">
  <div class="container">
      <div class="hero-text">
          <div class="text-center">
              <h1>
                  My Favorite
              </h1>
              <nav class="breadcrumb  justify-content-center">
                  <a class="breadcrumb-item" routerLink="/home">Home</a>
                  <span class="breadcrumb-item active" aria-current="page">Favorite</span>
              </nav>
          </div>
      </div>
  </div>
</section>
<section id="home-listing">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="listing">
          <div class="listing-img">
            <img src="assets/images/bg/1.jpg" alt="listing-img" class="img-fluid w-100 mx-auto">
            <span class="heart-icon">
              <a href="#"><i class='bi bi-heart-fill'></i></a>
            </span>
            <span class="opt-list">
              For Rent
            </span>
            <span class="listing-price">
              $100,000
            </span>
          </div>

          <div class="listing-info p-3">
            <span class="listing-location">
              <i class='bi bi-geo-alt'></i> Harare, Sunninghill
            </span>
            <a href="#" class="d-block text-decoration-none text-dark py-2 listing-name">
              Commercial Property for Sale
            </a>
            <a href="#" class="text-danger fs-6"><i class="bi bi-x-square-fill"></i> Delete</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="listing">
          <div class="listing-img">
            <img src="assets/images/bg/1.jpg" alt="listing-img" class="img-fluid w-100 mx-auto">
            <span class="heart-icon">
              <a href="#"><i class='bi bi-heart-fill'></i></a>
            </span>
            <span class="opt-list">
              For Rent
            </span>
            <span class="listing-price">
              $100,000
            </span>
          </div>

          <div class="listing-info p-3">
            <span class="listing-location">
              <i class='bi bi-geo-alt'></i> Harare, Sunninghill
            </span>
            <a href="#" class="d-block text-decoration-none text-dark py-2 listing-name">
              Commercial Property for Sale
            </a>
            <a href="#" class="text-danger fs-6"><i class="bi bi-x-square-fill"></i> Delete</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="listing">
          <div class="listing-img">
            <img src="assets/images/bg/1.jpg" alt="listing-img" class="img-fluid w-100 mx-auto">
            <span class="heart-icon">
              <a href="#"><i class='bi bi-heart-fill'></i></a>
            </span>
            <span class="opt-list">
              For Rent
            </span>
            <span class="listing-price">
              $100,000
            </span>
          </div>

          <div class="listing-info p-3">
            <span class="listing-location">
              <i class='bi bi-geo-alt'></i> Harare, Sunninghill
            </span>
            <a href="#" class="d-block text-decoration-none text-dark py-2 listing-name">
              Commercial Property for Sale
            </a>
            <a href="#" class="text-danger fs-6"><i class="bi bi-x-square-fill"></i> Delete</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="listing">
          <div class="listing-img">
            <img src="assets/images/bg/1.jpg" alt="listing-img" class="img-fluid w-100 mx-auto">
            <span class="heart-icon">
              <a href="#"><i class='bi bi-heart-fill'></i></a>
            </span>
            <span class="opt-list">
              For Rent
            </span>
            <span class="listing-price">
              $100,000
            </span>
          </div>

          <div class="listing-info p-3">
            <span class="listing-location">
              <i class='bi bi-geo-alt'></i> Harare, Sunninghill
            </span>
            <a href="#" class="d-block text-decoration-none text-dark py-2 listing-name">
              Commercial Property for Sale
            </a>
            <a href="#" class="text-danger fs-6"><i class="bi bi-x-square-fill"></i> Delete</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="listing">
          <div class="listing-img">
            <img src="assets/images/bg/1.jpg" alt="listing-img" class="img-fluid w-100 mx-auto">
            <span class="heart-icon">
              <a href="#"><i class='bi bi-heart-fill'></i></a>
            </span>
            <span class="opt-list">
              For Rent
            </span>
            <span class="listing-price">
              $100,000
            </span>
          </div>

          <div class="listing-info p-3">
            <span class="listing-location">
              <i class='bi bi-geo-alt'></i> Harare, Sunninghill
            </span>
            <a href="#" class="d-block text-decoration-none text-dark py-2 listing-name">
              Commercial Property for Sale
            </a>
            <a href="#" class="text-danger fs-6"><i class="bi bi-x-square-fill"></i> Delete</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="listing">
          <div class="listing-img">
            <img src="assets/images/bg/1.jpg" alt="listing-img" class="img-fluid w-100 mx-auto">
            <span class="heart-icon">
              <a href="#"><i class='bi bi-heart-fill'></i></a>
            </span>
            <span class="opt-list">
              For Rent
            </span>
            <span class="listing-price">
              $100,000
            </span>
          </div>

          <div class="listing-info p-3">
            <span class="listing-location">
              <i class='bi bi-geo-alt'></i> Harare, Sunninghill
            </span>
            <a href="#" class="d-block text-decoration-none text-dark py-2 listing-name">
              Commercial Property for Sale
            </a>
            <a href="#" class="text-danger fs-6"><i class="bi bi-x-square-fill"></i> Delete</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="listing">
          <div class="listing-img">
            <img src="assets/images/bg/1.jpg" alt="listing-img" class="img-fluid w-100 mx-auto">
            <span class="heart-icon">
              <a href="#"><i class='bi bi-heart-fill'></i></a>
            </span>
            <span class="opt-list">
              For Rent
            </span>
            <span class="listing-price">
              $100,000
            </span>
          </div>

          <div class="listing-info p-3">
            <span class="listing-location">
              <i class='bi bi-geo-alt'></i> Harare, Sunninghill
            </span>
            <a href="#" class="d-block text-decoration-none text-dark py-2 listing-name">
              Commercial Property for Sale
            </a>
            <a href="#" class="text-danger fs-6"><i class="bi bi-x-square-fill"></i> Delete</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="listing">
          <div class="listing-img">
            <img src="assets/images/bg/1.jpg" alt="listing-img" class="img-fluid w-100 mx-auto">
            <span class="heart-icon">
              <a href="#"><i class='bi bi-heart-fill'></i></a>
            </span>
            <span class="opt-list">
              For Rent
            </span>
            <span class="listing-price">
              $100,000
            </span>
          </div>

          <div class="listing-info p-3">
            <span class="listing-location">
              <i class='bi bi-geo-alt'></i> Harare, Sunninghill
            </span>
            <a href="#" class="d-block text-decoration-none text-dark py-2 listing-name">
              Commercial Property for Sale
            </a>
            <a href="#" class="text-danger fs-6"><i class="bi bi-x-square-fill"></i> Delete</a>
          </div>
        </div>
      </div>





    </div>
  </div>
</section>
<app-newsletter></app-newsletter>
<app-footer></app-footer>
