<app-navigation></app-navigation>
<section id="hero">
    <div class="container">
        <div class="hero-text">
            <div class="text-center">
                <h1>
                    User Help
                </h1>
                <nav class="breadcrumb  justify-content-center">
                    <a class="breadcrumb-item" routerLink="/home">Home</a>
                    <span class="breadcrumb-item active" aria-current="page">Help</span>
                </nav>
            </div>
        </div>
    </div>
  </section>

  <app-we-do></app-we-do>
  
  <app-footer></app-footer>