<app-navigation></app-navigation>
<section id="hero">
  <div class="container">
      <div class="hero-text">
          <div class="text-center">
              <h1>
                  My Settings
              </h1>
              <nav class="breadcrumb  justify-content-center">
                  <a class="breadcrumb-item" routerLink="/home">Home</a>
                  <span class="breadcrumb-item active" aria-current="page">Settings</span>
              </nav>
          </div>
      </div>
  </div>
</section>
<section id="shared-style">
  <div class="container">
    <div class="row  justify-content-center">
      <div class="col-md-8 col-sm-12 col-12">


        <div class="shared-box mt-5">
          <div class="profile-header">
            <h5>
              Change Password
            </h5>
          </div>
          <p class="profile-mandatory">
            Change you password to a strong password.
          </p>
          <form action="">
            <div class="row">
              <div class=" col-12">
                <div class="mb-3">
                  <label for="" class="form-label">Current Password</label>
                  <input type="text" class="form-control " id="" placeholder="">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-12">
                <div class="mb-3">
                  <label for="" class="form-label">New Password</label>
                  <input type="text" class="form-control " id="" placeholder="">
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-12">
                <div class="mb-3">
                  <label for="" class="form-label">Comfirm Password</label>
                  <input type="text" class="form-control " id="" placeholder="">
                </div>
              </div>
            </div>
            <div class="submit-link text-end mt-4">
              <button type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-newsletter></app-newsletter>
<app-footer></app-footer>
